@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bazalt-100: #242a38;
	--white-100: #fff;
	--sunrise-100: #f77b61;
	--sunset-100: #f75164;
	--neon-100: #5f77f7;
	--black-90: #384258;
	--black-80: #4d5a78;
	--black-70: #617297;
	--black-60: #808dad;
	--black-50: #a0aac2;
	--black-40: #bfc6d6;
	--black-30: #dfe3eb;
	--black-20: #e3e6ed;
	--black-10: #e7eaf0;
	--black-09: rgba(36, 42, 56, 0.9);
	--black-08: rgba(36, 42, 56, 0.8);
	--black-07: rgba(36, 42, 56, 0.7);
	--black-06: rgba(36, 42, 56, 0.6);
	--black-05: rgba(36, 42, 56, 0.5);
	--black-04: rgba(36, 42, 56, 0.4);
	--black-03: rgba(36, 42, 56, 0.3);
	--black-02: rgba(36, 42, 56, 0.2);
	--black-01: rgba(36, 42, 56, 0.1);
	--sunrise-90: #f88b75;
	--sunrise-80: #f99c88;
	--sunrise-70: #faad9c;
	--sunrise-60: #fbbdb0;
	--sunrise-50: #fccdc4;
	--sunrise-40: #fdded8;
	--sunrise-30: #feefeb;
	--sunrise-20: #fef1ed;
	--sunrise-10: #fef3f0;
	--sunrise-08: rgba(247, 123, 97, 0.8);
	--sunrise-0: rgba(247, 123, 97, 0.7);
	--sunrise-0: rgba(247, 123, 97, 0.9);
	--sunrise-0: rgba(247, 123, 97, 0.6);
	--sunrise-0: rgba(247, 123, 97, 0.5);
	--sunrise-0: rgba(247, 123, 97, 0.4);
	--sunrise-0: rgba(247, 123, 97, 0.3);
	--sunrise-02: rgba(247, 123, 97, 0.2);
	--sunrise-01: rgba(247, 123, 97, 0.1);
	--sunrise-005: rgba(247, 123, 97, 0);
	--sunset-09: rgba(247, 81, 100, 0.9);
	--sunset-08: rgba(247, 81, 100, 0.8);
	--sunset-07: rgba(247, 81, 100, 0.7);
	--sunset-06: rgba(247, 81, 100, 0.6);
	--sunset-05: rgba(247, 81, 100, 0.5);
	--sunset-04: rgba(247, 81, 100, 0.4);
	--sunset-03: rgba(247, 81, 100, 0.3);
	--sunset-02: rgba(247, 81, 100, 0.2);
	--sunset-01: rgba(247, 81, 100, 0.1);
	--neon-09: rgba(95, 119, 247, 0.9);
	--neon-08: rgba(95, 119, 247, 0.8);
	--neon-07: rgba(95, 119, 247, 0.7);
	--neon-06: rgba(95, 119, 247, 0.6);
	--neon-05: rgba(95, 119, 247, 0.5);
	--neon-04: rgba(95, 119, 247, 0.4);
	--neon-03: rgba(95, 119, 247, 0.3);
	--neon-02: rgba(95, 119, 247, 0.2);
	--neon-01: rgba(95, 119, 247, 0.1);
	--white-09: rgba(255, 255, 255, 0.9);
	--white-08: rgba(255, 255, 255, 0.8);
	--white-07: rgba(255, 255, 255, 0.7);
	--white-06: rgba(255, 255, 255, 0.6);
	--white-05: rgba(255, 255, 255, 0.5);
	--white-04: rgba(255, 255, 255, 0.4);
	--white-03: rgba(255, 255, 255, 0.3);
	--white-02: rgba(255, 255, 255, 0.2);
	--white-01: rgba(255, 255, 255, 0.1);
	--background-black: #242a38;
	--background-bg-sunrise: #f1fdfb;
	--background-bg-mint-09: rgba(241, 253, 251, 0.9);
	--background-bg-lavanda: #fff8f9;
}



*{
  padding: 0;
  margin: 0;
  border: 0;

}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}
html{
  height: 100%;
  background-color: var(--bg);
}
html,body{
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-weight: 500;
font-size: 18px;
line-height: 144%;
}

input,button,textarea{font-family: inherit; }



input::-ms-clear{display: none;}
button{cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
position: absolute;
top: 0;
left: 0;
width: 100%;
}
